{% extends "vokabel_trainer/base.html" %}
{% block content %}
    <p>{{abfrage}} von <a href="{% url 'vokabel_trainer:liste' liste.id %}">{{liste}}</a></p>

    <ul>
        {% for vokabel in vokabeln %}
            <li>{{vokabel}}</li>
        {% empty %}
            <li>Noch keine Vokabeln</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'vokabel_trainer:aktive_abfrage' abfrage_id=abfrage.id abfrage_nummer=0 erster_versuch=0 anzahl_versuche=0 %}">Abfrage starten</a> </p>
{% endblock content %}