{% extends "vokabel_trainer/base.html" %}

{% load filter_extras %}

{% block content %}
    <p><b>Abfrage von <a href="{% url 'vokabel_trainer:liste' liste.id %}">"{{ liste }}"</a></b></p>
    <ul>
        {% for vokabel in vokabeln %}
            <li>
                {{ vokabel }}
            </li>
        {% empty %}
            <li>Noch keine Vokabeln</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'vokabel_trainer:aktive_abfrage' abfrage.id 0 0 0 0 %}">Abfrage starten</a> </p>
{% endblock content %}