{% extends "vokabel_trainer/base.html" %}

{% block header %}
    Aktive Abfrage
    <small style="">
        <a href="{% url 'vokabel_trainer:abfrage_abbrechen' abfrage.id %}" class="btn btn-outline-danger btn-sm">abbrechen</a>
    </small>
{% endblock header %}

{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center" style="height: 50vh">
<div class="pb-3 border border-3 border-dark bg-light">
    <div class="pb-0 d-flex justify-content-center">
        <table class="table table-borderless text-white bg-secondary bg-gradient" style="width: 800 px">
                <tbody>
                    <tr>
                        <td style="width: 25%">Abfrage</td>
                        <td class="text-end" style="width: 25%">{{abfrage_one_up}} / {{anzahl_abfragen}}</td>
                        <td style="width: 25%">Versuch</td>
                        <td class="text-end" style="width: 25%">{{anzahl_versuche}}</td>
                    </tr>
                </tbody>
            </table>
    </div>

    {% if korrekt %}
    <div class="pt-4 pb-2 d-flex justify-content-center">
        <h5>
        {{vokabel.deutsch}}
            </h5>
    </div>
    {% else %}
    <div class="pt-4 pb-2 d-flex justify-content-center">
        <h5 class="text-danger">
        {{vokabel.deutsch}} - {{vokabel.franzoesisch}}
        </h5>
    </div>
    {% endif %}

    <form class="pt-2 mx-4" action="{% url 'vokabel_trainer:aktive_abfrage' abfrage.id abfrage_nummer erster_versuch anzahl_versuche tipp_nr %}"
          method='post'>
        {% csrf_token %}
        <p>{{ form.eingabe }}</p>

    <div class="d-flex justify-content-center">
        <div class="btn-toolbar">
        <input class="btn btn-success mx-2" type="submit" value="Nächste"/>
        {% ifequal erster_versuch '0' %}
            <input class="btn btn-primary mx-2" type="submit" name="tipp" value="Tipp"/>
        {% endifequal %}
        {% ifequal erster_versuch '1' %}
            <input class="btn btn-primary mx-2" type="submit" name="korrektur" value="Korrektur"/>
        {% endifequal %}
        </div>
    </div>
    </form>
</div>
</div>
{% endblock content %}