{% extends "vokabel_trainer/base.html" %}

{% block content %}
    <p>Aktive Abfrage</p>

    <p>Vokabelabfrage Nr. {{abfrage_one_up}}</p>

{% if korrekt %}
    <p>{{vokabel.deutsch}}</p>
{% else %}
    Korrigiere deine Eingabe!
    <p>{{vokabel}}</p>
{% endif %}

    <form action="{% url 'vokabel_trainer:aktive_abfrage' abfrage.id abfrage_nummer erster_versuch %}" method='post'>
        {% csrf_token %}
        {{ form }}
        <button name="submit">Nächste</button>
    </form>

{% endblock content %}