{% extends "vokabel_trainer/base.html" %}

{% block header %}
    <h1 style="margin-top:20px">Neue Liste
        <small style=""><a href="{% url 'vokabel_trainer:listen' %}" class="btn btn-outline-danger btn-sm">abbrechen</a></small>
    </h1>
{% endblock header %}

{% block content %}
<div class="pt-4 pb-4">
    <form enctype="multipart/form-data" action="{% url 'vokabel_trainer:neue_liste' %}" method='post'>
        {% csrf_token %}
        <p><b>Name:</b></p>
        <p>{{ form.name }}</p>
        <p><b>Beschreibung:</b></p>
        <p>{{ form.beschreibung }}</p>
        <p>File: {{ form.file }}</p>

        <input class="btn btn-success" type="submit" value="Erstellen"/>
    </form>
</div>
{% endblock content %}