{% extends "vokabel_trainer/base.html" %}

{% block header %}
    Änderungen an "{{ vokabel }}"
    <small style="">
        <a href="{% url 'vokabel_trainer:liste_bearbeiten' liste.id %}" class="btn btn-outline-danger btn-sm">abbrechen</a>
    </small>
{% endblock header %}

{% block content %}
    <div class="pt-4 pb-4">
        <form action="{% url 'vokabel_trainer:vokabel_bearbeiten' vokabel.id%}" method='post'>
            {% csrf_token %}
            <p><b>Deutsch:</b></p>
            <p>{{ form.deutsch }}</p>
            <p><b>Französisch:</b></p>
            <p>{{ form.franzoesisch }}</p>
            <button style="margin-left:5px" class="btn btn-primary" name="submit">Speichern</button>
        </form>
    </div>

    <a style="margin-left:5px" class="btn btn-danger" href="{% url 'vokabel_trainer:vokabel_loeschen' vokabel.id %}">Löschen</a>

{% endblock content %}